body {
      color:#FF6600;
      background-color:#993300;
	  font-size:150%;
    }
    a  { color:#FFCC00; }
    a:visited { color:#FFFF99; }
    a:hover { color:#FF8000; }
    a:active { color:#FF0000; }
	
	.event-day { background-color:#BB5500; }
	table { border: 1px solid #FF6600; }
	tr { border: 1px solid #FF6600; }
	th { border: 1px solid #FF6600; font-size:20pt; }
	td { border: 1px solid #FF6600; vertical-align:top; }